@import '../../core-styles/index.scss';

.Button {
  display: inline-block;
  border-radius: 0.5rem;
  padding: 0.9rem 2rem;
  border: 0.125rem solid transparent;
  transition: all ease 250ms;
  cursor: pointer;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;

  &.primary {
    background-color: var(--blue-400);
    color: var(--white);

    &:hover {
      background-color: var(--blue-500);
    }

    &:active {
      background-color: var(--blue-600);
    }
  }

  &.secondary {
    color: var(--anthracite-700);
    background: var(--anthracite-100);

    &:hover {
      color: var(--anthracite-700);
      background: var(--anthracite-200);
    }

    &:active {
      background: var(--anthracite-300);
    }
  }

  &.tertiary {
    border: 1px solid var(--blue-400);
    color: var(--blue-400);
    background: var(--white);

    &:hover {
      color: var(--white);
      background-color: var(--blue-400);
    }
  }

  &.small {
    padding: 0.5rem 1.5rem;
  }

  &.large {
    padding: 1.25rem 2.5rem;
  }

  &.full-width {
    width: 100%;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
