@mixin primary {
  &.primary {
    background-color: var(--blue-400);
    color: var(--white);

    &:hover {
      background-color: var(--blue-500);
    }

    &:active {
      background-color: var(--blue-600);
    }

    &:disabled {
      opacity: 0.3;
      background-color: var(--blue-400);
      cursor: not-allowed;
    }
  }
}

@mixin secondary {
  &.secondary {
    color: var(--anthracite-700);
    background: var(--anthracite-100);

    &:hover {
      color: var(--anthracite-700);
      background: var(--anthracite-200);
    }

    &:active {
      background: var(--anthracite-300);
    }

    &:disabled {
      color: var(--anthracite-400);
      background: var(--anthracite-100);
      cursor: not-allowed;
    }
  }
}

@mixin tertiary {
  &.tertiary {
    border: 1px solid var(--blue-400);
    color: var(--blue-400);
    background: var(--white);

    &:hover {
      color: var(--white);
      background-color: var(--blue-400);
    }

    &:active {
      background-color: var(--blue-600);
    }

    &:disabled {
      opacity: 0.3;
      color: var(--blue-400);
      background: var(--white);
      cursor: not-allowed;
    }
  }
}
